<mat-toolbar color="primary">
  <span>My Cookbook</span>

  <nav mat-tab-nav-bar backgroundColor="primary">
    <a mat-tab-link *ngFor="let link of navLinks"
    [routerLink]="link.path"
    (click)="activeLink = link.path"
    [active]="activeLink == link.path"> {{link.label}} </a>
  </nav>
  
  <span class="spacer"></span>

  <div class="user-menu" *ngIf="currentUser">
    <span>Hello, {{ this.currentUser.firstName }}!</span>
    <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="User icon-button with a menu">
      <mat-icon>account_circle</mat-icon>
    </button>
    <mat-menu #menu="matMenu">
      <button mat-menu-item click="/recipes/my">
        <span>My recipes</span>
      </button>
      <button mat-menu-item>
        <span>User profile</span>
      </button>
      <button mat-menu-item (click)="logout()">
        <span>Logout</span>
      </button>
    </mat-menu>
  </div>

  <button *ngIf="!currentUser" mat-button click="/login">
    Login/Registration
  </button>
</mat-toolbar>

