<form class="cookbook-form" title="New recipe" [formGroup]="recipeForm">
  <h3>Recipe information</h3>
  <mat-form-field>
    <mat-label>Recipe name</mat-label>
    <input matInput name="name" placeholder="Ex. Pizza"
      formControlName="recipeName" required>
  </mat-form-field>

  <mat-form-field>
    <mat-label>Servings</mat-label>
    <input matInput required type="number" name="servings" placeholder="Ex. 2" 
      min=1 formControlName="servings"/>
  </mat-form-field>

  <mat-form-field>
    <mat-label>Cooking time (in minutes)</mat-label>
    <input matInput required type="number" name="cookingTime" 
      placeholder="Ex. 15" min=1 formControlName="cookingTime"/>
  </mat-form-field>
  
  <mat-checkbox name="isPublic" aria-checked="checked" formControlName="isPublic">Make recipe public?</mat-checkbox>

  <mat-form-field>
    <mat-label>Skill level</mat-label>
    <mat-select name="skillLevel" required formControlName="skillLevel">
      <mat-option *ngFor="let skill of skillTypes" [value]="skill.id">
        {{skill.levelName}}
      </mat-option>
    </mat-select>
  </mat-form-field>

  <mat-form-field>
    <mat-label>Recipe category</mat-label>
    <mat-select name="category" required formControlName="category">
      <mat-option *ngFor="let category of recipeCategories" [value]="category.id">
        {{category.categoryName}}
      </mat-option>
    </mat-select>
  </mat-form-field>

  <mat-divider></mat-divider>
  <h3>Ingredients</h3>
  <div>
    <form [formGroup]="ingredientsForm">
      <div formArrayName="formArray">
          <div *ngFor="let control of ingredientsFormArray.controls; let i = index">
              <div [formGroup]="ingredientsFormArray.controls[i]">
                <mat-form-field>
                  <mat-label>Ingredient</mat-label>
                  <input matInput required (input)="search(searchBox.value)" formControlName="ingredientId"
                    name="ingredient" [matAutocomplete]="auto" #searchBox id="search-box"/>

                    <ul class="search-result">
                      <mat-autocomplete #auto="matAutocomplete" [displayWith]="displayFn">
                        <li>
                          <mat-option *ngFor="let ingr of foundIngredients$ | async" [value]="ingr">
                            {{ingr.name}}
                          </mat-option>
                        </li>
                      </mat-autocomplete>
                    </ul>
                </mat-form-field>
  
                <mat-form-field>
                  <mat-label>Unit</mat-label>
                  <mat-select name="unit" required formControlName="unitId">
                    <mat-option *ngFor="let unit of unitTypes" [value]="unit.id">
                      {{unit.unitName}}
                    </mat-option>
                  </mat-select>
                </mat-form-field>
                <mat-form-field>
                  <mat-label>Quantity</mat-label>
                  <input matInput type="number" name="quantity" placeholder="Ex. 3" value="1"
                  formControlName="quantity" min=1 required/>
                </mat-form-field>
                
                <button *ngIf="i > 0" mat-raised-button color="primary" type="button" (click)="delIngredient(i)">X</button>
              </div>
          </div>
      </div>
      <button mat-raised-button type="button" (click)="addIngredient()">Add</button>
    </form>
  </div>
  
  <mat-divider></mat-divider>
  <h3>Preparation steps</h3>
  <div>
    <form [formGroup]="prepStepsForm">
      <div formArrayName="formArray">
          <div *ngFor="let control of prepStepsFormArray.controls; let i = index">
              <div [formGroup]="prepStepsFormArray.controls[i]">
                <mat-form-field>
                  <mat-label>{{ i + 1 }}.</mat-label>
                  <textarea matInput required name="stepText" placeholder="Ex. Beat 3 eggs..." 
                    formControlName="stepText"></textarea>
                  <input matInput type="number" formControlName="stepNumber" [value]="i + 1" style="display: none;"/>
                </mat-form-field>
                
                <button *ngIf="i > 0" mat-raised-button color="primary" type="button" (click)="delPrepStep(i)">X</button>
              </div>
          </div>
      </div>
      <button mat-raised-button type="button" (click)="addPrepStep()">Add</button>
    </form>
  </div>

  <button mat-button 
    matTooltip="Saves recipe"
    [disabled]="!recipeForm.valid || !ingredientsForm.valid || !prepStepsForm.valid"
    (click)="save()">Save</button>

    <button mat-button 
    matTooltip="Cancel editing"
    (click)="showEditor.emit(false)">Cancel</button>
</form>

