.recipe-card-wrapper {
    width: max-content !important;
    height: auto !important;
    float: left;
    margin: 5px;
}
.spacer {
    flex: 1 1 auto;
}

.spinner-overlay{
    width: 100%;
    height: 100%;
    z-index: 1000;
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(0,0,0,0.6);
    display: flex;

    .spinner {
        margin: auto;
    }
}