<h1 mat-dialog-title>Plan a meal</h1>
<div mat-dialog-content>
  <p>Recipe:
    <a (click)="onRecipeClick(data.recipeId)" class="link">{{ data.recipeName }}</a>
  </p>

  <form>
    <mat-form-field>
      <mat-label>Choose meal type</mat-label>
      <mat-select [(ngModel)]="data.mealType" name="mealType" required>
        <mat-option *ngFor="let mealType of mealTypes" [value]="mealType.value">
          {{mealType.name}}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>Choose a date</mat-label>
      <input matInput [matDatepicker]="picker" required
        [min]="data.minDate" [max]="data.maxDate"
        [(ngModel)]="data.mealDate" name="mealDate">
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>
  </form>
</div>
<div mat-dialog-actions>
  <button mat-button *ngIf="data.id" (click)="onDeleteClick()">Delete</button>
  <button mat-button (click)="onCancelClick()">Cancel</button>
  <button mat-button (click)="onSaveClick()" cdkFocusInitial>Save</button>
</div>

<div class="spinner-overlay" *ngIf="isSaving">
  <mat-spinner class="spinner" color="accent"></mat-spinner>
</div>

